:root {
  /* 基準となるfont-size */
  --root-font-size: 16px;

  /*
    px指定してしまうと、ブラウザの拡大機能で文字が大きくならないので
    個別にfont-sizeを変更する場合は、rem(相対値)指定すること。
   */
  --font-size-10px: 0.625rem; /* 10px相当 */
  --font-size-12px: 0.75rem; /* 12px相当 */
  --font-size-14px: 0.875rem; /* 14px相当 */
  --font-size-18px: 1.125rem; /* 18px相当 */
  --font-size-20px: 1.25rem; /* 20px相当 */
  --font-size-24px: 1.5rem; /* 24px相当 */
  --font-size-28px: 1.75rem; /* 28px相当 */

  /* base-colors */
  --clr-darkgray: #333;
  --clr-gray: #757575;
  --clr-lightgray: #858585;
  --clr-darksilver: #aaa;
  --clr-dimsilver: #ccc;
  --clr-silver: #e2e2e2;
  --clr-lightsilver: #efefef;
  --clr-whitesmoke: #f8f8f8;
  --clr-white: #fff;

  /* theme-colors */
  --clr-primary: #409eff;
}
